.body {
  margin: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  max-width: 100vw;
  overflow: hidden;
  position: relative;
}

/* Add grain overlay */
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  opacity: var(--grain-opacity);
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 999;
}

.text {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.9vh;
  white-space: pre;
  word-wrap: break-word;
  filter: brightness(1) contrast(1);
  background-color: #7E43D6;
}

/********************************** Control box ***********************************/
.control-box {
  font-family: 'Space Mono', monospace;
  font-size: 3.5vh;
  position: fixed;
  top: 2vh;
  left: 2vw;
  padding: 1vh;
  overflow: hidden;
  background-color: white;
  color: black;
  opacity: 0.9;
  padding: 1.5vh;
  border-radius: 1vh;
  border: 0.2vh solid #ccc;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0.4vh 0.8vh rgba(0, 0, 0, 0.2);
  max-width: 22vw;
  height: calc(96vh - 4vh);
  transition: transform 0.3s ease-in-out, max-width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

label,
input,
button {
  font-size: 1.4vh;
  margin-bottom: 0.8vh;
}

.hidden {
  transform: translateX(-220px);
}

.info-button {
  position: fixed;
  bottom: 1%;
  right: 2vh;
  z-index: 1001;
  padding: 15px;
  border-radius: 50px;
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  color: black;
  border: none;
  font-size: 4vh;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.info-button:hover {
  background-color: black;
}

.info-box {
  position: fixed;
  top: 20%;
  bottom: 20%;
  right: 30%;
  left: 35%;
  width: 30%;
  padding: 2%;
  background: rgba(246, 246, 246, 0.6);
  border-radius: 16px;
  box-shadow: 0px 0.4vh 0.8vh rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(10.8px);
  border-radius: 10px;
  font-family: "Space Mono", monospace;
  font-size: 2vh;
  color: #333;
  z-index: 1002;
  opacity: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  word-wrap: break-word;
  max-width: 600px;
}

.hidden {
  display: none;
}

.info-close-button {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  font-size: 4vh;
  color: #333;
  cursor: pointer;
  margin-bottom: 0;
  margin-top: -10px;
}

.info-content h2 {
  margin-top: 0;
  /* Remove extra space at the top of the heading */
}

/********************************** Input range ***********************************/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 2vh;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 2.45vh;
  background: #ccc;
  border-radius: 2.5vh;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 2.45vhpx;
  background: #ccc;
  border-radius: 2.5vh;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 2.45vh;
  width: 2.45vh;
  background-color: #fff;
  border-radius: 50%;
  border: 0.2vh solid rgb(0, 0, 0);
  box-shadow: -54vh 0 0 53vh #292929;
}


/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 2.45vh;
  width: 2.45vh;
  background-color: #fff;
  border-radius: 50%;
  border: 0.2vh solid #f50;
  box-shadow: -54vh 0 0 53vh #292929;
}

/******************************* Open button *************************************/
#toggle-button {
  position: fixed;
  top: 2vh;
  left: 2vw;
  z-index: 1001;
  padding: 10px;
  border-radius: 50px;
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  color: black;
  border: none;
  font-size: 5vh;
  cursor: pointer;
}

#toggle-button:hover {
  background-color: black;
}

/******************************* Close button *************************************/
.close-button {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  font-size: 2vh;
  color: #555;
  cursor: pointer;
}

.close-button:hover {
  color: #333;
}

/******************************* Reset button *************************************/
.reset-button {
  font-family: 'Space Mono', monospace;
  margin-top: 1vh;
  padding: 0.8vh 1.5vw;
  background-color: #f00;
  color: white;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #3b0101;
}

/******************************* Font Button *************************************/
select {
  padding: 0.5vh;
  font-size: 1.4vh;
  margin-bottom: 0.8vh;
}

/******************************* Color Picker *************************************/
.pickr {
  margin-bottom: 1.2vh;
}

.pickr .pcr-button {
  width: 100%;
  height: 6vh;
  border: none;
  box-shadow: 0vh 0.3vh 0.5vh rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.pickr .pcr-button:hover {
  box-shadow: 0vh 0.5vh 1vh rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.pcr-app {
  background: #f7f7f7;
  border-radius: 1.4vh;
  box-shadow: 0vh 0.5vh 1.4vh rgba(0, 0, 0, 0.3);
}

.pcr-app .pcr-interaction input:focus {
  border-color: #0088ff;
  outline: none;
}

.pcr-app .pcr-interaction .pcr-save,
.pcr-app .pcr-interaction .pcr-clear {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

/****************** Gradient **********************/
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.text.gradient {
  background: linear-gradient(45deg, #ff27e9, #0088ff, #67b346, #ff8e91, #bc76cf, #62c2b0);
  background-size: 400% 400%;
  animation: gradient-animation 15s ease infinite;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

:root {
  --black-4: #5C555D;
  --grey-2: #f1f1f1;

  --black: #292929;

  --graphical-fg: var(--black-4);
  --box-bg: var(--grey-2);

  /*Inputs, buttons, etc*/
  --control-height: 2.7vh;
  --control-border-width: 0.3vh;

  --3d-highlight: color-mix(in srgb, var(--box-bg) 50%, #f1f1f1b1);
  --3d-shadow: color-mix(in srgb, var(--box-bg) 50%, #0000001a);

  /*3D buttons are mostly transparent with just some highlights and shadows.*/
  --concave-item-bg: linear-gradient(180deg, var(--3d-shadow) 12%, var(--3d-highlight) 88%);
  --convex-item-bg: linear-gradient(180deg, var(--3d-highlight) 0%, var(--3d-shadow) 96%);
  --concave-item-box-shadow: inset 0rem 0rem 0.25rem 0.125rem #3838381f;

  --control-bg: var(--grey-1);

  --highlight-color: var(--black);
  --control-border-color: color-mix(in srgb, var(--graphical-fg) 35%, rgb(0 0 0 / 0%))
}

input[type='checkbox'] {
  -webkit-appearance: none !important;
  border-radius: 3.125rem;
  appearance: none;
  background: var(--concave-item-bg);
  box-shadow: var(--concave-item-box-shadow);
  border: var(--control-border-width) solid var(--control-border-color);
  width: calc(var(--control-height) * 2.20);
  margin-left: 1vw;
  --slider-position: 0rem;
  cursor: pointer;
}

input[type='checkbox']:checked {
  position: relative;
  --slider-position: calc(var(--control-height) * 1.20);
}

input[type='checkbox']:checked::before {
  background: var(--highlight-color);
}

input[type='checkbox']:before {
  content: "";
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: var(--control-border-width) solid var(--control-border-color);
  left: var(--slider-position);
  border-radius: 50px;
  margin: 0px;
  padding: 0px;
  height: calc(var(--control-height) - calc(var(--control-border-width) *3));
  width: calc(var(--control-height) - calc(var(--control-border-width) *3));
  background: var(--convex-item-bg);
  transition: left 0.25s ease;
}

/********************************** Next Button ***********************************/
#next-button {
  position: fixed;
  top: 50%;
  right: 2vw;
  z-index: 1001;
  padding: 15px;
  border-radius: 50px;
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  color: black;
  border: none;
  font-size: 4vh;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#next-button:hover {
  background-color: black;
  color: white;
}

#next-button:active {
  transform: scale(0.95);
}

/********************************** Print Button ***********************************/
.print-button {
  position: fixed;
  top: 2.5%;
  right: 2%;
  z-index: 1001;
  padding: 10px;
  border-radius: 50px;
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  color: black;
  border: none;
  font-size: 5vh;
  cursor: pointer;
}

.print-button:hover {
  background-color: black;
  color: white;
}

@media print {
  #print-button {
    display: none;
  }

  .control-box {
    display: none;
  }

  .toggle-button {
    display: none;
  }

  .next-button {
    display: none;
  }

  .text {
    font-size: 1.6vh;
  }

  .info-button {
    display: none;
  }

  .info-box {
    display: none;
  }

  @page {
    margin: 0;
    size: landscape;
    left: 2vh;
  }
}

/********************************** Media Queries ***********************************/

@media (min-width: 320px) {
  .container {
    overflow-x: auto;
  }

  .control-box {
    font-size: 3vh;
    max-width: 90vw;
  }

  label,
  input,
  button {
    font-size: 1.5vh;
  }

  input[type='checkbox'] {
    --control-height: 3vh;
  }
}

@media (max-width: 600px) {
  :root {
    --control-height: 4vh;
  }
}

/* Styles specifically for mobile devices */
@media (max-width: 767px) {
  .container {
    overflow-x: auto;
  }

  .control-box {
    font-size: 4vh;
  }

  label,
  input,
  button {
    font-size: 1.8vh;
  }

  input[type="range"] {
    height: 2.5vh;
  }

  input[type='checkbox'] {
    --control-height: 4vh;
    width: calc(var(--control-height) * 2.20);
  }
}

/* General desktop and tablet styles */
@media (min-width: 768px) {
  .container {
    overflow-x: auto;
  }

  .control-box {
    font-size: 3.5vh;
    max-width: 25vw;
  }

  label,
  input,
  button {
    font-size: 1.6vh;
  }

  .hidden {
    transform: translateX(-3100px)
  }

  input[type='checkbox'] {
    --control-height: 3vh;
  }
}

/* Tablet-specific styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    overflow-x: auto;
  }

  .control-box {
    font-size: 4vh;
    max-width: 20vw;
  }

  label,
  input,
  button {
    font-size: 1.8vh;
  }

  input[type="range"] {
    height: 2vh;
  }

  input[type='checkbox'] {
    --control-height: 3.5vh;
  }
}

/* Desktop styles */
@media (min-width: 1025px) {
  .control-box {
    font-size: 3.5vh;
    max-width: 20vw;
  }

  label,
  input,
  button {
    font-size: 2vh;
  }

  input[type='checkbox'] {
    --control-height: 2.7vh;
  }
}

/*************************************************** Animation **************************************************/
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slide-in 0.5s forwards;
}


@keyframes slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-100vw);
    opacity: 0;
  }
}

.slide-out {
  animation: slide-out 1s forwards;
}